version: "3.7"
services:
  helloworld:
    image: 192.87.106.18:56001/helloworld:0.1
    #image: helloworld:0.1
    labels: 
      MY_DLO_ENVIRONMENT: development
      MY_DLO_PURPOSE: testing the swarm environment
    ports:
      # platform:56000+, dev:57000+, demo:58000+, pilot:59000+
      - 57001:80
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    networks:
      - dev-net
    volumes:
      #- $PWD/htdocs:/usr/local/apache2/htdocs/
      - /mnt/nfs/nfsdlo/dev-net/helloword:0.1/htdocs:/usr/local/apache2/htdocs/

networks:
  dev-net:
    external: true
